html,


body {
  background-color: #c7cfd1;
  font: 16px/1 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
}
.text-block {
  color: #2d2d2d;
}

.image-block,
.text-block {
  display: inline-block;
  vertical-align: top;
}

.image-block {
  margin-right: 1em;
}

.image-block img {
  width: 150px;
}

#site-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card {
  background-image: url(../images/creampaper.png);
  padding: 2em;
  width: 600px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 2em auto;
  border-radius: .8em;
  -webkit-box-shadow: 6px 12px 38px -5px rgba(0,0,0,0.25);
-moz-box-shadow: 6px 12px 38px -5px rgba(0,0,0,0.25);
box-shadow: 6px 12px 38px -5px rgba(0,0,0,0.25);
}

.header {
  font-size: .8rem;
}

a {
  color: #2273CB;
  text-decoration: none;
}
a:hover {
  color: #5BA6F5;
}

.no-style {
  list-style: none;
  padding-left: 0;
  font: 26px/1 'PT Sans', sans-serif;
}

.no-style li {
  display: inline-block;
}
